#loginForm,
#createAccountForm {
    position: absolute;
    top: 50vh;
    left: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#loginForm {
    animation: loginTransitionIn 1s ease-in-out;
}

#loginForm.hidden {
    animation: loginTransitionOut 1s ease-in-out forwards;
}

#createAccountForm {
    animation: transitionIn 1s ease-in-out;
}

#createAccountForm.hidden {
    animation: transitionOut 1s ease-in-out forwards;
}




input {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fafafa;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    transition: background 0.2s ease-in-out;
}

.button {
    transition: background 0.2s ease-in-out;
}


#loginForm.error input,
#createAccountForm.error input {
    background-color: var(--error-background-color);
}

#loginForm.error *,
#createAccountForm.error * {
    animation: shake 0.5s;
}


@keyframes shake {
    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(0.2rem);
    }

    20% {
        transform: translate(-0.2rem);
    }

    30% {
        transform: translate(0.2rem);
    }

    40% {
        transform: translate(-0.2rem);
    }

    50% {
        transform: translate(0.2rem);
    }

    60% {
        transform: translate(-0.2rem);
    }

    70% {
        transform: translate(0.2rem);
    }

    80% {
        transform: translate(-0.2rem);
    }

    90% {
        transform: translate(0.2rem);
    }

    100% {
        transform: translate(0);
    }
}



@keyframes transitionOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(200%, -50%);
    }
}

@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: translate(200%, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


@keyframes loginTransitionOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-200%, -50%);
    }
}

@keyframes loginTransitionIn {
    0% {
        opacity: 0;
        transform: translate(-200%, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

#loginForm button {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #fafafa;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

#loginError {
    color: var(--error-color);
    font-size: 1.5rem;
    height: 1.75rem;
    font-family: 'Nunito', sans-serif;
}

#multi-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

#multi-button-container .button {
    margin-left: 1rem;
    margin-right: 1rem;
}


#createAccountButton {
    margin-bottom: 1rem;
}