@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --body-font: 'Poppins', sans-serif;
    --header-font: 'Montserrat', sans-serif;
    --button-font: 'Nunito', sans-serif;
    --main-background-color: #FFF;
    --secondary-background-color: #fafafa;
    --main-border-radius: 0.5rem;
    --main-font-color: #424242;
    --error-color: #ff3333;
    --error-background-color: #ffaaaa;
    --main-accent-color: #33FF88;
    --secondary-accent-color: #55BB99;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: var(--main-background-color);
    overflow-x: hidden;
    color: var(--main-font-color);
    font-family: var(--body-font);
}


.header {
    font-family: var(--header-font);
    font-size: 5rem;
    color: var(--main-font-color);
}

.button {
    font-family: var(--button-font);
    color: var(--main-font-color);
    background-color: var(--secondary-background-color);
    border-radius: var(--main-border-radius);
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.button:active {
    filter: brightness(0.8);
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--main-background-color);
    transition: all 0.25s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}

nav.scrolled {
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);
}


.navButton,
.dropDownButton {
    display: block;
    color: var(--main-font-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-family: var(--button-font);
    cursor: pointer;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
    position: relative;
}

.navButton .dropDown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: var(--secondary-background-color);
    display: none;
}

.navButton:hover,
.dropDownButton:hover {
    background-color: var(--main-accent-color);
}

.navButton:hover .dropDown {
    display: block;

}

.navButton:last-child {
    margin-right: 1rem;
}